<footer class="app-footer">
  <div class="app-footer__container">
    <div class="app-footer__resources-container">
      <h3>Resources</h3>
      <ul class="app-footer__list-items">
        <li class="app-footer__list-item">About</li>
        <li class="app-footer__list-item">Sponsor</li>
        <li class="app-footer__list-item">Blog</li>
      </ul>
    </div>
    <div class="app-footer__help-container">
      <h3>Help</h3>
      <ul class="app-footer__list-items">
        <li class="app-footer__list-item">Stack Overflow</li>
        <li class="app-footer__list-item">Gitter</li>
        <li class="app-footer__list-item">Report Issues</li>
      </ul>
    </div>
    <div class="app-footer__community-container">
      <h3>Community</h3>
      <ul class="app-footer__list-items">
        <li class="app-footer__list-item">Twitter</li>
        <li class="app-footer__list-item">GitHub</li>
        <li class="app-footer__list-item">Contribute</li>
      </ul>
    </div>
  </div>
  <div class="app-footer__powered-by">
    <p>
      Powered by Joshua Oguma. @2019-date.
    </p>
  </div>
</footer>