@import '../../../variables.scss';

.logged-out {
  height: 600px;

  &__container {
    @include alignBlock;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__login-btn {
    @include primary-btn;
  }
}